<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" routerLink="/userss">Angular Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/user/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/user/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/user/register">Register</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</div>


<!--
<a routerLink="/admin">admin login</a><br />
<a routerLink="/admin/login">login</a><br />
<a routerLink="/admin/penal">penal</a><br />-->

<router-outlet></router-outlet>